In [7]:
"""Q1. Print number from 1 to 5 using a while loop."""
i=1
n=5
while i <= n:
    print(i)
    i= i+1

1
2
3
4
5

In [13]:
"""Q2. Calculate the sum of numbers from 1 to 10 using a while loop."""
i = 1
n = 10
p = 0
while i <= n:
    p = p+i
    i = i+1
print(p)

55

In [16]:
"""Q3. Calculate the factorial of a number using a for loop."""
n = int(input("Enter a number: "))
i = 1
p = 1
for i in range(1,n+1):
    p=p*i
    i=i+1
print(p)

Enter a number:  4

24

In [4]:
"""Q4. Count the number of vowels in a string using a for loop."""
string = "Hello everyone, This is data science assignment"
vowels= "aeiouAEIOU"
p=[]
for i in string:
    if i in vowels:
        p.append(i)
print(p)
len(p)

['e', 'o', 'e', 'e', 'o', 'e', 'i', 'i', 'a', 'a', 'i', 'e', 'e', 'a', 'i', 'e']

16

In [33]:
"""Q5. Print a pattern using nested loop."""

for i in range(5):
    for j in range(5):
        print("*" ,end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [37]:
"""Q6. Generate a multiplication table using nested loop."""

n = int(input("Enter a number: "))
for i in range (1,n+1):
    for j in range(1,11):
        result = i*j
        print(i,"*",j,"=",result)

Enter a number:  5

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50